amqp==2.6.1
appdirs==1.4.4
asgiref==3.4.1
astroid==2.5
Babel==2.9.0
billiard==3.6.3.0
cairocffi==1.2.0
CairoSVG==2.5.1
celery==4.4.2
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cmake==3.18.2.post1
colorama==0.4.4
cssselect2==0.4.1
defusedxml==0.7.1
diff-match-patch==20200713
distlib==0.3.1
Django==3.2.5
django-appconf==1.0.4
django-ckeditor==6.0.0
django-cleanup==5.2.0
django-colorfield==0.4.2
django-compressor==2.4
django-debug-permissions==1.0.0
django-debug-toolbar==3.2.1
django-extensions==3.1.0
django-image-optimizer==1.0.1
django-import-export==2.5.0
django-js-asset==1.2.2
django-makemessages-xgettext==0.1.1
django-static==1.5.6
django-tinymce==3.3.0
django-widget-tweaks==1.4.3
easy-thumbnails==2.7.1
et-xmlfile==1.1.0
filelock==3.0.12
html5lib==1.1
idna==2.10
kombu==4.6.11
lazy-object-proxy==1.5.2
MarkupPy==1.14
odfpy==1.4.1
openpyxl==3.0.7
pangocairocffi==0.6.0
pangocffi==0.10.0
Pillow==8.3.1
prompt-toolkit==3.0.10
psycopg2==2.8.6
pycairo==1.20.0
pycparser==2.20
pydot==1.4.1
pyparsing==2.4.7
Pyphen==0.10.0
PyQt5==5.15.1
pyqt5-plugins==5.15.1.1
PyQt5-sip==12.8.1
pyqt5-tools==5.15.1.2
python-decouple==3.4
python-dotenv==0.15.0
python-resize-image==1.1.19
pytz==2021.1
PyYAML==5.4.1
qt5-applications==5.15.1.1
rcssmin==1.0.6
requests==2.25.1
rjsmin==1.1.0
six==1.15.0
sorl-thumbnail==12.7.0
sqlparse==0.4.1
tablib==3.0.0
tinify==1.5.1
tinycss2==1.1.0
urllib3==1.26.3
vine==1.3.0
virtualenv==20.1.0
wcwidth==0.2.5
WeasyPrint==51
webencodings==0.5.1
whitenoise==5.3.0
wrapt==1.12.1
xlrd==2.0.1
XlsxWriter==1.3.7
xlwt==1.3.0
